<h2 style="text-align:center">Crear familia</h2>
<div style="text-align:center">
  <form class="add-form">
      <mat-form-field appearance="outline" *ngIf="family.padre && family.madre" class="s-md-width">
          <mat-label>Nombre de la familia</mat-label>
          <input disabled matInput placeholder="Nombre de la familia" value="{{family.padre.primer_apellido}} {{family.madre.primer_apellido}}" name="familyName">
          <mat-icon matSuffix>people</mat-icon>
  </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="padres.length > 0" class="s-md-width">
            <mat-label>Padre</mat-label>
            <mat-select [(ngModel)]="family.padre" name="father" (change)="assign()" #madre>
              <mat-option *ngFor="let padre of padres" [value]="padre">
                {{padre.primer_nombre}}
                {{padre.segundo_nombre}}
                {{padre.primer_apellido}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>persona</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="padres.length > 0" class="s-md-width">
        <mat-label>Madre</mat-label>
        <mat-select [(ngModel)]="family.madre" name="mother" (change)="assign()" #madre>
          <mat-option *ngFor="let madre of madres" [value]="madre">
            {{madre.primer_nombre}}
            {{madre.segundo_nombre}}
            {{madre.primer_apellido}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>pregnant_woman</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="padres.length > 0" class="s-md-width">
        <mat-label>Encargado</mat-label>
        <mat-select [(ngModel)]="family.encargado" name="encargado">
          <mat-option *ngFor="let encargado of encargados" [value]="encargado">
            {{encargado.primer_nombre}}
            {{encargado.segundo_nombre}}
            {{encargado.primer_apellido}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>supervised_user_circle</mat-icon>
    </mat-form-field> <br/>
    <h2 style="text-align:center">Seleccionar hijos:</h2>
<mat-form-field appearance="outline" class="s-md-width">
  <mat-label>Hijos de la familia</mat-label>
  <mat-select multiple [(ngModel)]="family.hijos" name="sons">
      <mat-option>
          <ngx-mat-select-search  (change)="getAll()" (focus)="getAll()" (input)="SearchKids($event)" [placeholderLabel]="'Buscar hijos...'" [noEntriesFoundLabel]="'No hay resultados'" name="filter"></ngx-mat-select-search>
        </mat-option>
    <mat-option *ngFor="let hijo of hijosList"  [value]="hijo">{{hijo.primer_nombre}} {{hijo.segundo_nombre}} {{hijo.primer_apellido}}</mat-option>
  </mat-select>
  <mat-icon matSuffix>people</mat-icon>
</mat-form-field>

<br/>

<div style="text-align:center">
  <button mat-raised-button color="accent" (click)="SaveFamilia()" [disabled]="!family.padre || !family.madre || !family.encargado || family.hijos.length < 1">
    <mat-icon>save</mat-icon>
    Guardar familia</button>
</div>
</form>
</div>
